#headertitle{
	left:50;
	position: relative;
}


.modal-content p{
	text-align: right;
} 

#loginmodal .buttono{
		border: none;
	text-decoration: none;
	background: none;
	 color: ghostwhite;
	 text-align: left;
	 left:auto;
}

#registermodal input{
	left: 50%
		
}

#myBtn {
	border: none;
	text-decoration: none;
	background: none;
	
}




#modalbackground{
	background:rgba(255,255,255,0.5);

}
#login modal p{
	font: white;
}


#loginmodal {
	float: left;
	background-color: grey;
	padding:10px;

	border-color: black;
	z-index:10 ;
	position: relative;
	left: 45%;
	color: ghostwhite;

	
}


#registermodal{
	float: right;
	background-color: grey;
	padding:10px;

	border-color: black;
	z-index: -1;
	position: relative;
	left: 10%;
	height: auto;
	color: ghostwhite;

}
/* Always set the map height explicitly to define the size of the div

      /* Always set the map height explicitly to define the size of the div

      /* Optional: Makes the sample page fill the window. */
    	    body {
    background-color: #3a3a3a;
	overflow: hidden;
    }
    .h1 {
    color: white;
    text-align: center;
    }
    .intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #3a3a3a;
    color: white;
    font-family: "Letter Gothic", sans-serif;
    font-size: 20px;
}
    
  .container {
            position: fixed left;
            padding-right: 50px;
            overflow: hidden;
        }
        
        a {
            text-decoration: none;
        }
        
        #toggle {
            position: fixed;
            /*fixed*/
            right: -100%;
            top: -100%;
            z-index: 1000000;
            float: left;
            text-align: left;
        }
        
        #toggle:focus ~ .toggle-container .button-toggle {
            box-shadow: 0 0 0 8px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9);
            z-index: 1000000;
        }
        
        #toggle:checked ~ .toggle-container .button-toggle {
            box-shadow: 0 0 0 550px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9);
            z-index: 1000000;
        }
        
        #toggle:checked ~ .toggle-container .button-toggle:hover {
            box-shadow: 0 0 0 550px rgba(214, 141, 51, 0.9), inset 0 0 0 20px, 0 0 0 8px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9);
            z-index: 1000000;
        }
        
        #toggle:checked ~ .toggle-container .button-toggle:before {
            z-index: 1000000;
        }
        
        #toggle:checked ~ .toggle-container .button-toggle:after {
            z-index: 1000000;
        }
        
        #toggle:checked:focus ~ .toggle-container .button-toggle {
            box-shadow: 0 0 0 550px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9), 0 0 0 8px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9);
            z-index: 1000000;
        }
        
        #toggle:checked ~ .nav {
            margin-bottom: 10px;
            pointer-events: auto;
            transform: translate(50px, 50px);
            z-index: 1000000;
            position: fixed;
            float: left;
            text-align: left;
        }
        
        #toggle:checked ~ .nav .nav-item {
            color: #ffffff;
            letter-spacing: 0px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            opacity: 1;
            transform: scaleY(1);
            transition: 0.5s, opacity 0.1s;
            text-align: left;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(1) {
            transition-delay: 0.15s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(1):before {
            transition-delay: 0.15s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(2) {
            transition-delay: 0.1s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(2):before {
            transition-delay: 0.1s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(3) {
            transition-delay: 0.05s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(3):before {
            transition-delay: 0.05s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(4) {
            transition-delay: 0s;
        }
        
        #toggle:checked ~ .nav .nav-item:nth-child(4):before {
            transition-delay: 0s;
        }
        
        #toggle:checked ~ .nav .nav-item:before {
            opacity: 0;
        }
        
        #toggle:checked ~ .dummy-content {
            padding-top: 30px;
        }
        
        #toggle:checked ~ .dummy-content:before {
            background-color: rgba(214, 141, 51, 0.9);
        }
        /* Button */
        
        .button-toggle {
            position: fixed;
            display: inline-block;
            width: 43px;
            height: 43px;
            /*  margin: 18px;*/
            margin-left: 25px;
            margin-top: 18px;
            background-color: rgba(214, 141, 51, 0.9);
            border: none;
            cursor: pointer;
            border-radius: 100%;
            transition: 0.6s;
            float: left;
            z-index: 1000000;
        }
        
        .button-toggle:hover {
            box-shadow: 0 0 0 8px rgba(214, 141, 51, 0.9), inset 0 0 0 20px rgba(214, 141, 51, 0.9);
            z-index: 1000000;
        }
        
        .button-toggle:before,
        .button-toggle:after {
            position: fixed;
            content: '';
            top: 50%;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            border-radius: 5px;
            transition: 0.5s;
            z-index: 1000000;
            float: left;
        }
        
        .button-toggle:before {
            transform: translateY(-50%) rotate(45deg) scale(0);
            z-index: 1000000;
        }
        
        .button-toggle:after {
            transform: translateY(-50%) rotate(-45deg) scale(0);
            z-index: 1000000;
        }
        /* Menu*/
        
        .nav {
            display: inline-block;
            margin: 20px 25px 20px;
            pointer-events: none;
            transition: 0.5s;
            z-index: 1000000;
            position: fixed;
            float: left;
            text-align: left;
        }
        
        .nav-item {
            position: relative;
            /*only relative*/
            display: inline-block;
            float: left;
            clear: both;
            color: transparent;
            font-size: 14px;
            font-family: 'Letter Gothic', sans-serif;
            letter-spacing: -5px;
            height: 15px;
            line-height: 20px;
            text-transform: uppercase;
            text-align: left;
            transform: scaleY(0.3);
            /*width of line*/
            transition: 0.7s, opacity 1s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(1) {
            transition-delay: 0s;
            text-align: left;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(1):before {
            transition-delay: 0s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(2) {
            transition-delay: 0.05s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(2):before {
            transition-delay: 0.05s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(3) {
            transition-delay: 0.1s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(3):before {
            transition-delay: 0.1s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(4) {
            transition-delay: 0.15s;
            /*  z-index: 1000000;*/
        }
        
        .nav-item:nth-child(4):before {
            transition-delay: 0.15s;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(1) {
            letter-spacing: -8px;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(2) {
            letter-spacing: -7px;
            z-index: 1000000;
        }
        
        .nav-item:nth-child(n + 4) {
            letter-spacing: -8px;
            margin-top: -7px;
            opacity: 0;
            z-index: 1000000;
        }
        
        .nav-item:before {
            position: fixed;
            content: '';
            top: 50%;
            float: right;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            transform: translateY(-50%) scaleY(5);
            transition: 0.5s;
            z-index: 1000000;
        }
        
        $items: 4;
        $transition-delay: 0.05s;
        .nav-item {
            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($i - 1) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                        transition-delay: $delay;
                    }
                }
            }
        }
       #cta {
/*
            width: 800px;
            height: 500px;
*/
            top: 320px;
            left: 40%;
/*
  
            padding: 30px;
            30px;
*/
            position: fixed;
            text-align: center;
            font-size: 30px;
            color: white;
            font-family: 'Letter Gothic', sans-serif;
        }
        
        .ctalink {
            text-decoration: none;
            font-size: 26px;
            width: 200px;
            height: 40px;
            color: #fff;
            cursor: pointer;
            display: block;
            z-index: 1;
            position: fixed;
            border: 5px solid rgba(215, 44, 44, 0.9);
            transition: all 0.4s circle(0.215, 0.61, 0.355, 1) 0s;
            text-align: center;
            margin: auto;
            /*width: 50%;*/
            font-family: 'Letter Gothic', sans-serif;
/*            padding: 40px 0;*/
             padding-top: 10px;
            text-align: center;
        }
        
        .ctalink:hover {
            color: #ffffff !important;
            background-color: transparent;
            text-shadow: ntwo;
        }
        
        .ctalink:hover:before {
            top: 0%;
            bottom: auto;
            height: 100%;
        }
        
        .ctalink:before {
            display: block;
            position: absolute;
            left: 0px;
            bottom: 0px;
            height: 0px;
            width: 100%;
            z-index: -1;
            content: '';
            color: #ffffff !important;
            background: rgba(215, 44, 44, 0.7);
			transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background:rgba(255,255,255,0.5);/
   	border: 4px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 5px ;
	border-color: black;

    width: 80%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	position: relative;
	visibility: hidden; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

      /* Optional: Makes the sample page fill the window. */
 .buttono
{
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 45%;
    margin-top: 20px;
}
#map{
	width:100%;
	height: 80%;
	 position: absolute;
  z-index: 1;
  top: 12%;
  border: 2px solid;
	border-color: azure

}

#map script{
	
}
     /*style the box*/
         .gm-style .gm-style-iw {
            background-color: #000000 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding-top: 10px;
            border-radius: 50%;
            display: block;
            overflow: visible !important;
             &::before {
                 content: '';
                 width: calc(100% + 29px);
                 height: calc(100% + 17px);
                 @include absolute;
                 @include center-align;
                 background: $black;
            }
            // Стрелочка
            &::after {
                content: '';
                width: 0;
                height: 0;
                border: 22px solid transparent;
                border-top-color: $black;
                z-index: 4;
                @include absolute;
                top: auto;
                bottom: -53px;
                margin: auto;
             }
            }

         /*style the p tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
         }


        /*style the arrow*/
        .gm-style div div div div div div div div {
            background-color: #000000 !important;
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px;
            border-radius: 50%;
        }

        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #f1f1f1;
            font-weight: bold;
        }
        .googft-info-window { background-color: yellow }

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   ;
	text-align: center;
	color: white;
}
