      /* Always set the map height explicitly to define the size of the div



      /* Optional: Makes the sample page fill the window. */
 .buttono
{
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 45%;
    margin-top: 20px;
}
#map{
	width: 800px;
	height: 400px;
}

     /*style the box*/
         .gm-style .gm-style-iw {
            background-color: #000000 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding-top: 10px;
            border-radius: 50%;
            display: block;
            overflow: visible !important;
             &::before {
                 content: '';
                 width: calc(100% + 29px);
                 height: calc(100% + 17px);
                 @include absolute;
                 @include center-align;
                 background: $black;
            }
            // Стрелочка
            &::after {
                content: '';
                width: 0;
                height: 0;
                border: 22px solid transparent;
                border-top-color: $black;
                z-index: 4;
                @include absolute;
                top: auto;
                bottom: -53px;
                margin: auto;
             }
            }

         /*style the p tag*/
         .gm-style .gm-style-iw #google-popup p{
            padding: 10px;
         }


        /*style the arrow*/
        .gm-style div div div div div div div div {
            background-color: #000000 !important;
            padding: 0;
            margin: 0;
            padding: 0;
            top: 0;
            color: #fff;
            font-size: 16px;
            border-radius: 50%;
        }

        /*style the link*/
        .gm-style div div div div div div div div a {
            color: #f1f1f1;
            font-weight: bold;
        }
        .googft-info-window { background-color: yellow }

/* --------------------------------

