{% extends "layout.html" %}


    <title>Activisme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


{% block body %}
    <link rel="stylesheet" href="{{url_for('static', filename='../static/CSS/landing.css')}}">
    <audio id="background_audio" autoplay="autoplay">
    <source src="{{url_for('static', filename='../static/Audio/ambient1.wav')}} " />
    </audio>

    <script src="{{url_for('static', filename='../static/JS/three.js')}}"></script>
    <script src="{{url_for('static', filename='../static/JS/Projector.js')}}"></script>
    <script src="{{url_for('static', filename='../static/JS/CanvasRenderer.js')}}"></script>
    <script src="{{url_for('static', filename='../static/JS/stats.min.js')}}"></script>


 <header class="header">
  
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="../map.html">MAP</a></li>
    <li><a href="../about.html">RESOURCES</a></li>
    <li><a href="../about.html">ABOUT</a></li>
  </ul>
 <img class="logoimg" src="{{url_for('static', filename='../static/Images/logo1.png')}}">

<hr class="line2"/>
<a href="https://www.facebook.com/" target="blank" title="Facebook">
<img class="socialbutton1" src="{{url_for('static', filename='../static/Images/f2.png')}}" border="0" onmouseover="src={{url_for('static', filename='../static/Images/f1.png')}}" onmouseout="src={{url_for('static', filename='../static/Images/f2.png')}}" />
</a>

<a href="https://www.twitter.com/" target="blank" title="Twitter">
<img class="socialbutton2" src="{{url_for('static', filename='../static/Images/t2.png')}}" border="0" onmouseover="{{url_for('static', filename='../static/Images/t1.png')}}" onmouseout="{{url_for('static', filename='../static/Images/t2.png')}}" />
    </a>
</header>


 <section class="container">
  <div class="left-half">
    <article>

    <p class="introtext">learn about the world’s problems and 
        get involved</p>
    <hr class="line"/>
    <section id="cta"> <a class="ctalink" href="{{url_for('map_page')}}">EXPLORE</a>
            
    </section>
    </article>
  </div>
    
  <div class="right-half">
    <article>
<div id="container">

        <script>
            var container, stats;
            var camera, scene, renderer;
            var group;
            var mouseX = 0
                , mouseY = 0;
            var windowHalfX = window.innerWidth / 2;
            var windowHalfY = window.innerHeight / 2;
            init();
            animate();

            function init() {
                container = document.getElementById('container');
                camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 2000);
                //closer
                camera.position.z = 450;
                camera.position.x = 20;
                camera.position.y = 30;
                scene = new THREE.Scene();
                group = new THREE.Group();
                scene.add(group);
                // earth
                var loader = new THREE.TextureLoader();
                loader.load("{{url_for('static', filename= '../static/Images/GLOBE.png')}}", function (texture) {
                    var geometry = new THREE.SphereGeometry(140, 40, 40);
                    var material = new THREE.MeshBasicMaterial({
                        map: texture
                        , overdraw: 0.5
                    });
                    var mesh = new THREE.Mesh(geometry, material);
                    group.add(mesh);
            
                });
                // shadow
                var canvas = document.createElement('canvas');
                canvas.width = 100;
                canvas.height = 100;
                var context = canvas.getContext('2d');
                var gradient = context.createRadialGradient(canvas.width / 2, canvas.height / 2, 0, canvas.width / 2, canvas.height / 2, canvas.width / 2);
                gradient.addColorStop(0.1, '#34495e');
                gradient.addColorStop(1, '#34495e');
                context.fillStyle = gradient;
                context.fillRect(0, 0, canvas.width, canvas.height);
                var texture = new THREE.CanvasTexture(canvas);
                var geometry = new THREE.PlaneBufferGeometry(300, 300, 3, 3);
                var material = new THREE.MeshBasicMaterial({
                    map: texture
                    , overdraw: 0.5
                });
                var mesh = new THREE.Mesh(geometry, material);
                mesh.position.y = -200;
                mesh.rotation.x = -Math.PI / 2;
                group.add(mesh);
                renderer = new THREE.CanvasRenderer();
                renderer.setPixelRatio(window.devicePixelRatio);
                //                renderer = new THREE.WebGLRenderer({ antialias: false, alpha:true });
                renderer.setSize(window.innerWidth, window.innerHeight);
                renderer.setClearColor(0x34495e);
                container.appendChild(renderer.domElement);
                stats = new Stats();
                container.appendChild(stats.dom);
                document.addEventListener('mousemove', onDocumentMouseMove, false);
                //
                window.addEventListener('resize', onWindowResize, false);
            }

            function onWindowResize() {
                windowHalfX = window.innerWidth / 2;
                windowHalfY = window.innerHeight / 2;
                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();
                renderer.setSize(window.innerWidth, window.innerHeight);
            }

            function onDocumentMouseMove(event) {
                mouseX = (event.clientX - windowHalfX);
                mouseY = (event.clientY - windowHalfY);
            }
            //
            function animate() {
                requestAnimationFrame(animate);
                render();
                stats.update();
            }

            function render() {
//                camera.position.x += (mouseX - camera.position.x) * 0.05;
//                camera.position.y += (-mouseY - camera.position.y) * 0.05;
                camera.lookAt(scene.position);
                group.rotation.y -= 0.003;
                group.position.x =-186.8;
                group.position.y = 0;
                renderer.render(scene, camera);
            }
      
        </script> 
        </div>
    </article>
  </div>
</section>
 
    <a onclick="mute(); changeImage(this)" id="mute">
    <img src="{{url_for('static', filename='../static/Images/sound_off.png')}}" id="play" />
    <img src="{{url_for('static', filename='../static/Images/sound_on.png')}}" id="pause" />
            </a>
    <script>
        function mute() {}

        function changeImage(obj) {
        obj.classList.toggle('playing');
        }
        var audio = document.getElementById('background_audio');

            document.getElementById('mute').addEventListener('click', function (e)
                                                             {
        e = e || window.event;
                audio.muted = !audio.muted;
                e.preventDefault();
            }, false);
    </script>



{% endblock %}