{% extends "layout.html" %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style.css') }}">


<header>
	<ul>

		<li><button type="image"  name="myBtn" id="myBtn" >Login</button></li>
		<li><button class="buttono"><a class="ctalink" href="{{url_for('map_page')}}">Map</a></button></li>
		{% if session['username'] %}

		<li><button class="buttono"> <a href="{{ url_for('create_sharespace') }}">Create your sharespace!</a> </button></li>

		<li><button class="buttono"><a href="{{ url_for('sharespace', classname=classname) }}"> Enter your sharespace!</a> </button></li>
		<li><button class="buttono"><a href="{{ url_for('join_sharespace', classname=classname) }}"> Join A Sharespace!</a> </button></li>
  <li><form action="\logout" method="post">
	  <input type="submit" value="Logout"> </form></li></ul>
	{% endif %}
	<h1>Activisme</h1>
</header>

	<div id="map"></div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWdCRYR6k-5WVxvZodvqOIAUwBFVfuvno&callback=initMap">
	</script>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content"> <span class="close">&times;</span>
			<div id="modaltitles">
				<h2>Log in or Sign Up for Global Activist</h2>
				<h3>Unlock more stories and places and check your progress</h3> </div>
			<div id="loginmodal">

				<h3>Login to keep exploring</h3>
				<form method="post" action='\login' name="login_form">
					<p>
						<input type="text" name="username" id="username" placeholder="Username"> </p>
					<p>
						<input type="password" name="password" placeholder="Password"> </p>
					<p>
						<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
				<br/> <a class="buttono" href="{{ url_for('reset') }}"> Reset your password </a>
				<br/>
				<br/> <a class="buttono" href="{{ url_for('reset_email') }}"> Reset your email </a>
				<br/> 

				</div>
	<p id="Question">If you are under 13 you must have parental permission to join Activisme</p>
		<button id="clickMeYes" onclick="show('registerForm'); hide('clickMeYes'); hide('Question')" alt="click me yes">I am over 13</button>


	<div id="registerForm" style="display:none;">
				<h3>Sign Up for Global Activist</h3>
				<form method="post" action="/register" name="regForm">
	<p>Select your role:</p>

						<input type="radio" id="Teacher" name="role" value="Teacher" > Teacher
						<input type="radio" id="Student" name="role" value="Student" > Student
						<br>

					<p>
						<input type="text" name="username" placeholder="Username" required> </p>
					<p>
						<input type="email" name="email" placeholder="Email" required> </p>
					<p>
						<input type="password" placeholder="Password" id="password" name="password" required>
						<input type="password" placeholder="Confirm Password" id="confirm_password" required> </p>
				

					<button type="submit" value="register" class="btn btn-primary">Register</button></form>

					

</div>
<script>
  function show (toBlock){
    setDisplay(toBlock, 'block');
  }
  function hide (toNone) {
    setDisplay(toNone, 'none');
  }
  function setDisplay (target, str) {
    document.getElementById(target).style.display = str;
  }
</script>
		</div>
	</div>
	<footer>
<p></p>
	</footer>
<script>

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
	
</script>
<script>
var password = document.getElementById("password")
			, confirm_password = document.getElementById("confirm_password");

		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Woops! Looks like the passwords don't match");
			}
			else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
</script>

{% endblock %}