<!doctype html>
<html>

<head>
    {% block head %}

	<script src="{{ url_for('static', filename='../static/JS/map-java.js')}}"></script>
	<script src="{{ url_for('static', filename='../static/JS/modal-java.js')}}"></script>
    <script src="{{ url_for('static', filename='../static/JS/validatepassword.js')}}"></script>


    <title>{% block title %}{% endblock %} Activisme </title>
   		
	<script>
		var badges = "{{badges}}";
		var points = "{{points}}";
		var level = "{{level}}";
	</script>

	
	{% endblock %}

	</head>
<body>



  <header id="header">
      <h1 style="display:none;">Activisme</h1>
	
</header>

		  
		  
		  
		  
		  
		  
   {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

    

     <div id="footer">
      {% block footer %}


      {% endblock %}
    </div>
  </body>
</html>