<!doctype html>
<html>

<head>
    {% block head %}

	<script src="{{ url_for('static', filename='../static/JS/map-java.js')}}"></script>
	<script src="{{ url_for('static', filename='../static/JS/modal-java.js')}}"></script>
    <script src="{{ url_for('static', filename='../static/JS/validatepassword.js')}}"></script>


    <title>{% block title %}{% endblock %} Global Activist </title>
   		
	<script>
		var badges = "{{badges}}";
		var points = "{{points}}";
		var level = "{{level}}";
	</script>

	
	{% endblock %}






	</head>
<body>



  <header id="header">
      <h1 style="display:none;">Activisme</h1>
		<!-- Trigger/Open The Modal -->

</header>

		  
		  
		  
		  
		  
		  
   {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

    

     <div id="footer">
      {% block footer %}

         <script>

//function to resize on mouse in and out
function bigImg(x) {
    x.style.height = "300px";
    x.style.width = "300px";
}

function normalImg(x) {
    x.style.height = "100px";
    x.style.width = "100px";
}
</script>
      {% endblock %}
    </div>
  </body>
</html>