{% extends "layout.html" %}
{%block body %}
<h1>Register</h1>
<h2>Fill in your details</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

		<p id="Question">If you are under 13 you must have parental permission to join Activisme</p>
		<button id="clickMeYes" onclick="show('registerForm'); hide('clickMeYes'); hide('Question')" alt="click me yes">I am over 13</button>


	<div id="registerForm" style="display:none;">
				<h3>Sign Up for Global Activist</h3>
				<form method="post" action="/register" name="regForm">
	<p>Select your role:</p>

						<input type="radio" id="Teacher" name="role" value="Teacher" > Teacher
						<input type="radio" id="Student" name="role" value="Student" > Student
						<br>

					<p>
						<input type="text" name="username" placeholder="Username" required> </p>
					<p>
						<input type="email" name="email" placeholder="Email" required> </p>
					<p>
						<input type="password" placeholder="Password" id="password" name="password" required>
						<input type="password" placeholder="Confirm Password" id="confirm_password" required> </p>
					<p>
						<input type="text" name="name" placeholder="Name" required> </p>

						<button type="submit" value="register" class="btn btn-primary">Register</button>

					

</div>
<script>
  function show (toBlock){
    setDisplay(toBlock, 'block');
  }
  function hide (toNone) {
    setDisplay(toNone, 'none');
  }
  function setDisplay (target, str) {
    document.getElementById(target).style.display = str;
  }
</script>
{% endblock %}