{% extends "layout.html" %}
{%block body %}
<link href="{{url_for('static', filename='../static/CSS/register.css')}}" rel="stylesheet">


	       <header class="header">
  
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="{{url_for('map_page')}}">MAP</a></li>
    <li><a href="../about.html">RESOURCES</a></li>
    <li><a href="../about.html">ABOUT</a></li>
  </ul>
 <img class="logoimg" src="{{url_for('static', filename='../static/Images/logo1.png')}}">
 <img class="socialbutton">
    
<!--<hr class="line2"/>-->
<a href="https://www.facebook.com/" target="blank" title="Facebook">
<img class="socialbutton1" src="{{url_for('static', filename='../static/Images/f2.png')}}" border="0"
	 onmouseover="this.src='{{url_for('static', filename='../static/Images/f1.png')}}'"
	 onmouseout="this.src='{{url_for('static', filename='../static/Images/f1.png')}}'" />
</a>

<a href="https://www.twitter.com/" target="blank" title="Twitter">
<img class="socialbutton2" src="{{url_for('static', filename='../static/Images/t2.png')}}" border="0"
	 onmouseover="this.src='{{url_for('static', filename='../static/Images/t1.png')}}'"
	 onmouseout="this.src='{{url_for('static', filename='../static/Images/t2.png')}}'"/>
    </a>
    </header>

	<div id="header-reg">
	<h1>Register</h1>

	 {% if error %}
		<p class=error id="error"><strong>Error:</strong> {{ error }}
	  {% endif %}
	<div id="question13">
			<p id="Question">If you are under 13 you must have parental permission to join Activisme</p>
		<button id="clickMeYes" onclick="show('registerForm'); hide('clickMeYes'); hide('Question')" alt="click me yes">I am over 13</button></div>
		</div>

		<div id="registerForm" style="display:none;">

					<form method="post" action="/register" name="regForm">
		<p id="selectyourrole">Select your role:</p>
	<label>
							 <input type="radio" id="teacher" class="option-input radio" name="role" value="Teacher"  required />
		Teacher
	  </label>
						 <label>
							 <input type="radio" id="student" class="option-input radio" name="role" value="Student"  required />
		Student
	  </label>







						<p>
							<input type="text" name="username" placeholder="Username" class="question" required maxlength="20"> </p>
						<p>
							<input type="email" name="email" placeholder="Email" class="question" required> </p>
						<p>
							<input type="password" placeholder="Password" id="password" name="password" class="question" required maxlength="20">
						</p><p>
							<input type="password" placeholder="Confirm Password" id="confirm_password" class="question" required maxlength="20"> </p>


						<button type="submit" value="register" class="btn btn-primary">Register</button></form>



	</div>
		
<script>
  function show (toBlock){
    setDisplay(toBlock, 'block');
  }
  function hide (toNone) {
    setDisplay(toNone, 'none');
  }
  function setDisplay (target, str) {
    document.getElementById(target).style.display = str;
  }
</script>
<script>
var password = document.getElementById("password")
			, confirm_password = document.getElementById("confirm_password");

		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Woops! Looks like the passwords don't match");
			}
			else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
</script>


{% endblock %}