{% extends "layout.html" %}
{%block body %}
<h1>Register</h1>
<h2>Fill in your details</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

<div id="registerForm">
				<h3>Sign Up for Global Activist</h3>
				<form method="post" action="/create_sharespace" name="ShareSpaceForm">
          <p>Create a name for your class's own sharespace:<br/>

						<input type="text" name="classname" placeholder="Class Name" required> </p>

                    <p>Create a password so your students can acess their own sharespace!
                        Your own account password will be the administrator password<br/>
                    <input type="password" name="sharespace_password" placeholder="Sharespace Password" required> </p>
                    <button type="submit" value="register">Register</button>
				</form>
</div>
{% endblock %}