<html>
	<head>
		<link type="text/css" href="{{url_for('static', filename='../static/CSS/new-sharespace.css')}}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
	
	  <header class="header">
  
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="../map.html">MAP</a></li>
    <li><a href="../about.html">RESOURCES</a></li>
    <li><a href="../about.html">ABOUT</a></li>
  </ul>
 <img class="logoimg" src="../static/Images/logo1.png">  
 <img class="socialbutton">
    
<!--<hr class="line2"/>-->
<a href="https://www.facebook.com/" target="blank" title="Facebook">
<img class="socialbutton1" src="../static/Images/f2.png" border="0" onmouseover="this.src='../static/Images/f1.png'" onmouseout="'../static/Images/f1.png'" />
</a>

<a href="https://www.twitter.com/" target="blank" title="Twitter">
<img class="socialbutton2" src="../static/Images/t2.png" border="0" onmouseover="this.src='../static/Images/t1.png'" onmouseout="this.src='../static/Images/t2.png'"/>
    </a>
 <!-- Trigger/Open The Modal -->
<button id="myBtn">Upload</button>
    </header>

			
		<div class="columnContainer">

			<section><h3>Humanitarian Crises</h3><div id="humanitarian" style="overflow-y: scroll;height: 500px" class="scrollbegone">{% if role == 'Teacher' %}
		
        {% for row in file_list %}
                           {% if row[6] == 'humanitariancrisis' %}
                     
                              <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>

<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    <ul id="button-list">
                    <li><form method="post" action="/delete_upload" id="delete"><button type="submit" value="delete_account" class="btn btn-primary">Delete</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>

                    <li><form method="post"action="/moderate_upload" id="moderate"><button type="submit"  value="confirm"  class="btn btn-primary">Confirm</button>
						<input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>
						{% endif %}
				</ul>  
				  {% endfor %}

{% endif %}
       {% if role == 'Student' %}
		{% for row in file_list %}
	   		{% if row[4] == 'TRUE' %}
		   		{% if row[6] == 'humanitariancrisis' %}
                                 
                          <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>

<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    {% endif %}
				
			{% endif %}
				{% endfor %}

{% endif %}
       
       
       </div></section>
        <section><h3>Environmental Concerns</h3>
			<div id="environmental" style="overflow-y: scroll;height: 500px" class="scrollbegone">
			{% if role == 'Teacher' %}

        {% for row in file_list %}
                        {% if row[6]== "environmental" %}
                           
                          <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>
<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    <ul id="button-list">
                    <li><form method="post" action="/delete_upload" id="delete"><button type="submit" value="delete_account" class="btn btn-primary">Delete</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>

                    <li><form method="post"action="/moderate_upload" id="moderate"><button type="submit"  value="confirm"  class="btn btn-primary">Confirm</button>
						<input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>{% endif %}
				</ul>  
			
				            {% endfor %}

{% endif %}
                   {% if role == 'Student' %}
		{% for row in file_list %}
	   		{% if row[4] == 'TRUE' %}
		   		{% if row[6] == 'environmental' %}
                                 
                         <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>

<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                   {% endif %}
				 
				{% endif %}
				{% endfor %}

{% endif %}
                    </div>
        </section>
			<section><h3>Refugees</h3><div id="refugees" style="overflow-y: scroll;height: 500px" class="scrollbegone">
			
			{% if role == 'Teacher' %}

        {% for row in file_list %}
                           {% if row[6] == 'refugeecrisis' %}
                                 
                      <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>
<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    <ul id="button-list">
                    <li><form method="post" action="/delete_upload" id="delete"><button type="submit" value="delete_account" class="btn btn-primary">Delete</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>

                    <li><form method="post"action="/moderate_upload" id="moderate"><button type="submit"  value="confirm"  class="btn btn-primary">Confirm</button>
						<input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>{% endif %}
				</ul>  
			
				{% endfor %}

{% endif %}
		
	{% if role == 'Student' %}
		{% for row in file_list %}
	   		{% if row[4] == 'TRUE' %}
		   		{% if row[6] == 'refugeecrisis' %}
                                 
                              <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>

<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
   {% endif %}
				{% endif %}
				{% endfor %}

{% endif %}
			</div></section>
			<section><h3>Social Inequality</h3><div id="socialineq" style="overflow-y: scroll;height: 500px" class="scrollbegone">
			{% if role == 'Teacher' %}

        {% for row in file_list %}
                            {% if row[6] == 'socialinequality' %}
                                 
       <figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>
<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    <ul id="button-list">
                    <li><form method="post" action="/delete_upload" id="delete"><button type="submit" value="delete_account" class="btn btn-primary">Delete</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>

                    <li><form method="post"action="/moderate_upload" id="moderate"><button type="submit"  value="confirm"  class="btn btn-primary">Confirm</button>
						<input type="hidden" name="filename" value="{{row[0]}}">
						</form></li>{% endif %}
				</ul>  

				{% endfor %}

{% endif %}
		{% if role == 'Student' %}
		{% for row in file_list %}
	   		{% if row[4] == 'TRUE' %}
		   		{% if row[6] == 'socialinequality' %}
<figure>
 <figcaption><p>Username:{{row[1]}}</p></figcaption>
              
                                    <a>
<img class="myImg" src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" alt="{{row[0]}}, Username:{{row[1]}}, Date Uploaded:{{row[2]}}" >
</a>
                           
                          
                           <figcaption>   <p>Title:{{row[0]}} <br>
							   Date Uploaded:{{row[2]}}  </p>
                    </figcaption> </figure>
<!-- The Modal -->
<div id="imgModal" class="picmodal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('imgModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="pic-modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
                    {% endif %}
				
				{% endif %}
				{% endfor %}

{% endif %}
			</div></section>
			

    </div>
    
    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="uploadmodal">
        <form name="uploadform" action="/upload_to_sharespace" method="post" enctype="multipart/form-data">
        
     

    <p><input type="file" name="sharefile" required></p>
			<label><input type="radio" id="environmental" name="category" value="environmental"  required class="option-input radio"> Environmental Crises</label>
			<label><input type="radio" id="humanitarian-crisis" name="category" value="humanitariancrisis"  required class="option-input radio"> Humanitarian Crises</label>
			<label><input type="radio" id="social-inequality" name="category" value="socialinequality"  required class="option-input radio"> Social Inequality</label>
			<label><input type="radio" id="refugees" name="category" value="refugeecrisis"  required class="option-input radio"> Refugees</label>
    <p><input type="submit" value="Upload File"  id="uploadbutton"></p>


</form>
    
    </div>
  </div>

</div>
    
	<script>
// Get the modal
var modallog = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modallog.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modallog.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modallog) {
        modallog.style.display = "none";
    }
}
</script>
<script>
		var modal = document.getElementById('imgModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = $('.myImg');
var modalImg = $("#img01");
var captionText = document.getElementById("caption");
$('.myImg').click(function(){
    modal.style.display = "block";
    var newSrc = this.src;
    modalImg.attr('src', newSrc);
    captionText.innerHTML = this.alt;
});

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
		</script>	
	</body>
	
</html> 
       
       