{% extends "layout.html" %}
{% block body %}
<h1> Image App </h1>

<p>Welcome to your profile page {{name}} <br> </p>


{% if length == 0 %}                    <!--Checks that there are images to display,
                                    nested for loop returns only current users images with required descriptions-->

    <p> No images to display :( </p>

{% else %}

    {% for file_name in file_names %}
        {% for row in file_list %}
            {% if file_name == row[0] and name == row[1] %}
                <figure>
                    <img src="{{ url_for('static', filename = '../static/classfolders/file_name') }}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
                    <figcaption> <b>USERNAME:</b> {{row[0]}}   <br>  <b>CLASSNAME:</b> {{row[1]}} <b>FILENAME:</b> {{row[2]}}
                        <b>DATE:</b> {{row[3]}}
                </figcaption>
                </figure>
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endif %}

 <h1>Upload</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}

<form name="uploadform" action="/upload_to_sharespace" method="post" enctype="multipart/form-data">

    <p><input type="file" name="image"></p>

    <p><input type="submit" value="Upload File"></p>


</form>






<!--<a class="buttono"href="{{ url_for('upload_to_sharespace') }}">Upload</a>-->



    <form  action="/logout" method="post">
        <input id="logout" type="submit" value="Logout" class="btn btn-primary btn-large btn-block" >
    </form>


{% endblock %}