{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style.css') }}">
<!-- Navigation -->
<!--
    <div id="container" class="container">
		<div class="horizon scroll" style="left: 0px;"> </div>
		<input id="toggle" type="checkbox" />
		<label class="toggle-container" for="toggle"> <span class="button button-toggle"></span> </label>
		<nav class="nav"> <a rel="nofollow" rel="noreferrer" class="nav-item" href="">Home</a> <a rel="nofollow" rel="noreferrer" class="nav-item" href="">Map</a> <a rel="nofollow" rel="noreferrer" class="nav-item" href="">About Project</a> <a rel="nofollow" rel="noreferrer" class="nav-item" href="">DIY/Games</a> </nav>
</div>-->

<header>
	<ul>

		<li><button type="image"  name="myBtn" id="myBtn" >Login</button></li>
		{% if session['username'] %}

		<li><button class="buttono"> <a href="{{ url_for('create_sharespace') }}">Create your sharespace!</a> </button></li>

		<li><button class="buttono"><a href="{{ url_for('sharespace', classname=classname) }}"> Enter your sharespace!</a> </button></li>
		<li><button class="buttono"><a href="{{ url_for('join_sharespace', classname=classname) }}"> Join A Sharespace!</a> </button></li>
  <li><form action="\logout" method="post">
	  <input type="submit" value="Logout"> </form></li></ul>
	{% endif %}
	<h1>Activisme</h1>
</header>

<p>Welcome to your profile page {{username}} <br> </p>

<p>This is the share space for {{classname}}</p>




    <div id="imagesshare">

{% if role == 'Teacher' %}
<h3>Teacher Space</h3>
        {% for row in file_list %}


                        <figure>
                        <img src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" />
                        <figcaption> <b>TITLE:</b> {{row[0]}}  <b>Uploaded by:</b> {{row[1]}} <br>
                            <b>Date Uploaded:</b> {{row[2]}} <b>Classname:</b> {{row[3]}} <b>Confirmed:</b>{{row[4]}}
                    </figcaption>
                    </figure>
                    <form method="post" action="/delete_upload"><button type="submit" value="delete_account" class="btn btn-primary">Delete Upload</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
                    </form>

                    <form method="post"action="/moderate_upload"><button type="submit" value="moderate_upload" class="btn btn-primary">Confirm Upload</button>
                    <input type="hidden" name="filename" value="{{row[0]}}">
                    </form>


        {% endfor %}

{% endif %}

{% if role == 'Student' %}
<h3>Student Space</h3>
        {% for row in file_list %}
            {% if row[4] == 'TRUE' %}

                        <figure>
                        <img src="{{url_for('static', filename ='../static/classfolders/'+classname+'/'+ row[0])}}" />
                        <figcaption> <b>TITLE:</b> {{row[0]}}  <b>Uploaded by:</b> {{row[1]}} <br>
                            <b>Date Uploaded:</b> {{row[2]}} <b>Classname:</b> {{row[3]}}
                    </figcaption>
                    </figure>

            {% endif %}

        {% endfor %}

{% endif %}
</div>

 <h1>Upload</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}


<form name="uploadform" action="/upload_to_sharespace" method="post" enctype="multipart/form-data">

    <p><input type="file" name="sharefile" required></p>
    <input type="radio" id="environmental" name="category" value="environmental"  required > Environmental Crises
    <input type="radio" id="humanitarian-crisis" name="category" value="humanitariancrisis"  required> Humanitarian Crises
    <input type="radio" id="social-inequality" name="category" value="socialinequality"  required > Social Inequality
    <input type="radio" id="refugees" name="category" value="refugeecrisis"  required> Refugees
    <p><input type="submit" value="Upload File"  id="uploadbutton"></p>


</form>


<div id="blog-upload-space">
    <h3>Blog Posts</h3>
    <form name="blogupload" action="/blog_post" method="post" enctype="multipart/form-data" id="blogupload">
    <input type="radio" id="environmental" name="category" value="environmental"  required > Environmental Crises
    <input type="radio" id="humanitarian-crisis" name="category" value="humanitariancrisis"  required> Humanitarian Crises
    <input type="radio" id="social-inequality" name="category" value="socialinequality"  required > Social Inequality
    <input type="radio" id="refugees" name="category" value="refugeecrisis"  required> Refugees
    <input type="text" name="blog_title" placeholder="Title">
    <textarea rows="4" cols="50" name="blog_post" form="blogupload" placeholder="Write your post here"></textarea>
    <input type="submit" value="Post To Blog" >
    </form>
</div>

<div id="blog-display-space">

{%for row in blog_list %}
    {% if role == 'Teacher' %}


    <p>Title: {{row[2]}}</p>

    <p>{{row[3]}}</p>

    <p>Status: {{row[5]}}</p>

    <form method="post" action="/delete_blog_post"><button type="submit" value="delete_blog_post" class="btn btn-primary">Delete Upload</button>
    <input type="hidden" name="blog_post" value="{{row[3]}}">
    </form>

    <form method="post" action="/moderate_blog_post"><button type="submit" value="moderate_blog_post" class="btn btn-primary">Confirm Upload</button>
    <input type="hidden" name="blog_post" value="{{row[3]}}">
    </form>
        {% endif %}


    {% if role == 'Student' %}
        {% if row[5] == 'TRUE' %}
            <p>Title: {{row[2]}}</p>
            <p>{{row[3]}}</p>
        {% endif %}
    {% endif %}


{% endfor %}

</div>






{% endblock %}