<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/update-email.css">
</head>
<body>
       <header class="header">
  
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="../map.html">MAP</a></li>
    <li><a href="../about.html">RESOURCES</a></li>
    <li><a href="../about.html">ABOUT</a></li>
  </ul>
 <img class="logoimg" src="../static/Images/logo1.png">  
 <img class="socialbutton">
    
<!--<hr class="line2"/>-->
<a href="https://www.facebook.com/" target="blank" title="Facebook">
<img class="socialbutton1" src="../static/Images/f2.png" border="0" onmouseover="this.src='../static/Images/f1.png'" onmouseout="this.src='../static/Images/f2.png'" />
</a>

<a href="https://www.twitter.com/" target="blank" title="Twitter">
<img class="socialbutton2" src="../static/Images/t2.png" border="0" onmouseover="this.src='../static/Images/t1.png'" onmouseout="this.src='../static/Images/t2.png'"/>
    </a>
    </header>

  <div id="header-reg">
	<h1>Reset your password</h1>
	
</div>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<div id="resetForm">
<form action="/reset_email" method="post">

<p> Username: <input type="text" name="username" required> </p>
    <p> Password: <input type="password" name="password" required> </p>
<p>New Emal <input type="text" name="newEmail" required></p>
	<button type="submit" value="Reset"> Reset </button>
</form>
	</div>
</body>
</html>